<!DOCTYPE html>
<html>
      <head>
           <title>  new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>

      <body>
       <p id="loadingMessage">Welcome to our Website. To know your country Weather , longitude and latitude,please enter the name of your country</p>
       <div class="header1">
            <form id="form1">
            <input type="text" id="address">
            <button>Find Weather</button>
        </form>
          <p id="location"></p>
          <p id="forecast"></p>
          <p id="error"></p>
          </div>
          <script src="js/script.js"></script>
      </body>
</html>